PORT=2026
DATA_DIR=/data
MYNOTES_DATA_DIR=/home/soni/Desktop/MacSSD/mynotes
APP_ORIGIN=http://localhost:2026
ALLOW_REGISTRATION=false
ALLOWED_EMAILS=first.user@example.com,second.user@example.com
TOTP_POLICY=optional
TOTP_ENCRYPTION_KEY=
